.card {
  width: 393px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 10px 13px -4px rgb(35 35 95 / 19%);

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px 18px 0 0;

    img {
      width: 144px;
      height: 144px;
    }
  }

  .name {
    padding: 12px 18px 18px;
    color: #39414b;
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
  }
}
