.wrapper {
  display: flex;
  gap: 20px;
  align-items: start;
  max-width: 1600px;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  padding: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
