.nav {
  position: sticky;
  top: 20px;

  .list {
    width: 264px;
    padding: 12px;
    border: 1px solid #cfcfe4;
    border-radius: 18px;

    li {
      padding: 12px;
      color: #39414b;
      font-weight: 800;
      font-size: 18px;
      line-height: 100%;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        color: #fff;
        background: #5fbf77;
      }
    }
  }
}
